.header{
    width: 88%;
    margin: auto;
    height: 70px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    color: aliceblue;
    border-radius: 5px;
}